{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    
    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% if title %}
        <title>Creatip - {{ title }}</title>
    {% else %}
        <title> {{salonAcc.salonName}}</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
          <!-- <div class="container-fluid">


            <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
              <a class="nav-item nav-link" href="{% url 'appointments' %}">Appointments</a>
              <a class="nav-item nav-link" href="{% url 'customers' %}">Customers</a>                
              <a class="nav-item nav-link" href="{% url 'salon-account' %}">Salon Account</a> 
                           
                <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </nav>
          </div> -->
          <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">{{salonAcc.salonName}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'appointments' %}">Appointments</a>
                <a class="nav-item nav-link" href="{% url 'customers' %}">Customers</a>                
                <a class="nav-item nav-link" href="{% url 'salon-account' %}">Salon Account</a> 
                <!-- <div class="navbar-nav ml-auto"> -->
                  <a class="nav-item navbar-right nav-link" href="{% url 'logout' %}">Logout</a>
                  <!-- </div> -->
              </div>
            </div>
          </nav>
          </div>

    </header>
  

    <main role="main" class="container-fluid" style="margin-top: 50px;">
      <div class="row">
        <div class="col-sm-9">
          <content class="container-fluid">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock content %}
          </content>
        </div>     
        <div class="col-sm-3 ">

          <div class="container-fluid">
            {% comment %} <div style="margin:20px;"> {% endcomment %}
              <div  id="caller_info" >
              </div>
            {% comment %} </div> {% endcomment %}
          </div>
          <div class="container-fluid" style="margin-top:20px;">
            {% block side%}
            {% endblock side %}
          </div>
        </div>
      </div>
      <div style="position: fixed; bottom: 0px; right: 0px;">
      <button id="sms_status" class="btn btn-lg btn-success"> SMS Ok!</button>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block js %}

    {% endblock js %}

    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
    <script src="{% static '/js/sms_monitor.js'%}"></script>
</body>
</html>